clipboard.txt
.env
/src/cyberclip/genericEnricher.py
/src/cyberclip/enrich/*
/src/cyberclip/tools.py
*.gz
/src/cyberclip/data/*
!/src/cyberclip/data/recipes.yml.bak
__pycache__/
/src/conf.yml
/src/*.csv
/src/*.tsv
/src/*.json
/src/*.xlsx
/src/*.zip
*.pyc
log.log
log.log*
/src/cyberclip/userAction/private/*
!/src/cyberclip/userAction/private/__init__.py
/src/cyberclip/userTypeParser/private/*
!/src/cyberclip/userTypeParser/private/__init__.py
/src/cyberclip/radialUI.py
/.venv
/src/cyberclip/cyberclip.egg-info/*
/src/cyberclip.egg-info/*
cyberclip.egg-info/*
/dist/*
/build/*
/site/*
/docs/*
!/docs/static
!/docs/*.md
uv.lock