clipboard.txt
/src/genericEnricher.py
/src/enrich/*
/src/tools.py
*.gz
/src/data/*
!/src/data/conf.yml.bak
__pycache__/
/src/conf.yml
/src/*.csv
/src/*.tsv
/src/*.json
/src/*.xlsx
/src/*.zip
*.pyc
log.log
/src/userAction/private/*
!/src/userAction/private/__init__.py
/src/userTypeParser/private/*
!/src/userTypeParser/private/__init__.py
/.venv
/src/cyberclip_BONGOKNIGHT.egg-info/*
/dist/*