
$accent:  rgb(0, 140, 255);

#maingrid {
    width: 100%;
    grid-size: 5 5;
    grid-rows: 1fr;
    grid-columns: 1fr;
    grid-gutter: 1;
}

Tooltip {
    background: antiquewhite;
    border: $accent;
    color: black
}

#action-container{
    column-span: 1;
    row-span: 5;
    height: 100%;
}
#action-pannel{
    column-span: 1;
    row-span: 5;
    height: 100%;
}

#left-pannel{
    row-span:5;
    column-span: 1;
    height:100%;
    row-span:5;

}

#data-type-container{
    row-span: 5;
    column-span: 1;    
}

#action-filter{
    height: 3;
}

#action-button{
    width: 100%;
    height: 3;
}

.no-height{
    height: 0;
}

ContentToolbar{
    layer: above;
    dock: right;
    margin-right: 2;
    align-vertical: top;
    width: 20;
    height: 10;
    background: rgba(255,255,255,0);
}

.small-button{
    border: none;
    height: auto;
    width: auto;
    min-width: 0;
}

#copy-button{
    dock: right;
    align-vertical: top;
    background: $accent 10%;
    width: 20;
    height: 3;
}
#next-button{
    dock: right;
    align-vertical: top;
    margin-top: 3;
    height: 1;
}
#previous-button{
    dock: right;
    align-vertical: top;
    margin-top: 3;
    margin-right: 12;
    height: 1;
}
.markup{
    dock: right;
    align-vertical: top;
    margin: 0;
    margin-top: 4;
    width: 20;
    height: 3;
    padding:0;
}





#filter-button{
    width: 100%;
}

#datatype-button{
    width: 80%;
    height: 3;
}

.datatype{
    width: 100%;
    height: 3;
}

#update-button{
    width: 100%;
    height:3;
}