beautifulsoup4
dnspython
jsonpath
dotenv
netext
networkx
jq
pandas
pycti
pyperclip
pywin32; platform_system=="Windows"
textual
textual[syntax]
textual-fspicker
textual-serve
tldextract
urllib3
XlsxWriter
